<!DOCTYPE html>
<html>
    <h1>Sobre mi</h1>
        <table>
            <tr>
                <h3>videojuegos favoritos</h3>


                <thead>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Frecuencia</th>
                </thead>

                <tbody>
                    <tr>
                        <td>Destiny 2</td>
                        <td>Juego de ciencia ficción, con misiones y actividades secundarias.</td>
                        <td>fines de semana</td>
                    </tr>
                    <tr>
                        <td>whartunder</td>
                        <td>Juego de vehículos terrestres, aereos y navales.</td>
                        <td>diariamente</td>
                    </tr>
                    <tr>
                        <td>Battlefield</td>
                        <td>Juego de disparos en primera persona, multijugador.</td>
                        <td>fines de semana</td>
                    </tr>

                    <tfoot>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Frecuencia</th>
                        </th>

        </table>

    

        <div id="enlaces">

            <a href="index.html">
            Ir al Index   
        </a>
        
        <a href="#footer">
            Ir a footer   
        </a>

        <a href="contact.html">
            Ir a contacto   
        </a>

        <a href="cvpersonal.html">
            Ir al Curriculum vitae
        </a>

        <a href="61200000">
            Realizar una llamada
        </a>

        

        </div>

        
    </head>